h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul
            li 20201501-02 - Plantear problemas aritméticos, geométricos y métricos de acuerdo con los contextos productivo y social.