h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccio/')
                    +navTemaItem('1', 'Razones y proporciones', 'main.html#page/razones_proporciones/')
                    +navTemaItem('2', 'Estructura aditiva y multiplicativa', 'main.html#page/estructura_aditiva_multiplicativa/')   
                    +navTemaItem('3', 'Teoría de números', 'main.html#page/teoria_numeros/')  
                    +navTemaItem('4', 'Fracciones', 'main.html#page/fracciones/')    
                    +navTemaItem('5', 'Porcentajes', 'main.html#page/porcentajes/')     
                    +navTemaItem('6', 'Números enteros', 'main.html#page/numeros_enteros/')     
                    +navTemaItem('7', 'Sistema de medidas', 'main.html#page/sistema_medidas/')            