h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 20201501-02]
        p.mb-0 Plantear problemas aritméticos, geométricos y métricos de acuerdo con los contextos productivo y social.
           




