.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Razón:
            | es la división o cociente entre dos números o dos cantidades que se pueden comparar entre sí y se expresan como una fracción.
        hr
        p
            strong.mr-2 Proporción:
            | es una igualdad entre dos razones.
        hr
        p 
            strong.mr-2 Estructura aditiva:
            | es la capacidad de abordar situaciones en las que tiene aplicabilidad las operaciones de adición o suma y sustracción o resta.
        hr
        p 
            strong.mr-2 Estructura multiplicativa:
            | es la capacidad de abordar situaciones en las que tiene aplicabilidad las operaciones de multiplicación o división.
        hr
        p 
            strong.mr-2 Divisibilidad:
            | a es divisible entre b, si el residuo de a / b es cero.  
        hr
        p 
            strong.mr-2 Múltiplo:
            | el múltiplo de un número es el que lo contiene un número exacto de veces 
        hr
        p 
            strong.mr-2 Número primo:
            | número es primo que solo se puede dividir por sí mismo y la unidad
        hr
        p 
            strong.mr-2 Máximo Común Divisor - MCD:
            | el mínimo común múltiplo de dos o más números a y b es el número más pequeño que es múltiplo de a y múltiplo de b.
        hr
        p 
            strong.mr-2 Fracción:
            | es la expresión a/b , donde “a” se denomina numerador y “b” denominador, a y b son enteros y a puede ser menor o mayor que b.  También b debe ser un número diferente de cero.
        hr
        p 
            strong.mr-2 Porcentaje:
            | un porcentaje es una relación que expresa una proporción, es decir una parte de un total y se representa con el símbolo “%” que equivale a  1/100.
        hr
        p 
            strong.mr-2 Interés:
            | es la cantidad que se paga por usar un dinero tomado en préstamo durante un tiempo determinado.
        hr
        p 
            strong.mr-2 Números enteros:
            | son aquellos que expresan una cantidad con relación a su unidad y están representados por el conjunto de los números naturales y los negativos.
        hr
        p 
            strong.mr-2 Sistemas de Medidas:
            | son los permiten medir una magnitud y están definidos por unidades.





