.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Aguilar, A. (2015). Matemáticas simplificadas. (4a. ed.) Pearson Educación. Ejercicios Práctica de MCD_m.c.m.

                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Ejercicios_Practica_MCD_mcm.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

                tr
                    td Aguilar, A. (2015). Matemáticas simplificadas. (4a. ed.) Pearson Educación. Ejercicios Práctica de Fracciones.
                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Ejercicios_Practica_Operaciones_con_fracciones.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  

                tr
                    td Aguilar, A. (2015). Matemáticas simplificadas. (4a. ed.) Pearson Educación. Ejercicios Práctica de Porcentajes.
                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Ejercicios_Practica_Porcentajes.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar  

                tr
                    td Aguilar, A. (2015). Matemáticas simplificadas. (4a. ed.) Pearson Educación.Ejercicios Práctica de Operaciones con Enteros.
                    td PDF
                    td 
                        a(href="media/documentos/complementarios/Ejercicios_Practica_Operaciones_con_enteros.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar                             

                tr
                    td Matefácil.com.(2017, 17 de agosto). Problema resuelto con división de fracciones.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=Wp9SABu3RRo", target="_blank") <span class="fa fa-link" aria-hidden="true"></span> Ver        
