.container#tema_3

    .header-ecored
        h1 3. Teoría de números

    .jumbotron.bg-white 
      .row
        .col-12
          .line-title.mt-3#tema3_1
            h2 3.1 Divisibilidad  
      .row
        .col-12
          p.mb-0 Sean a y b números enteros (número positivo o negativo no fraccionado); #[strong a es divisible entre b], si el residuo de a / b es cero. 
        .col-12.my-5
          h3 Ejemplos

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-5.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/info_01.svg", alt="").img-fluid
        
        .col-12.col-lg-7
          p Se observa que:
          ul
            li.mb-3 54 es divisible entre 6 puesto que el residuo es 0.
            li.mb-3 20 es divisible entre 10 puesto que el residuo es 0.
            li.mb-3 380 no es divisible entre 12 puesto que el residuo es 8.
          p Recordemos que el múltiplo de un número es el que lo contiene un número exacto de veces, por ejemplo:
          ul
            li.mb-3 54 es múltiplo de 9 por que lo contiene 6 veces exactas.
            li.mb-3 48 es múltiplo de 8 por que lo contiene 6 veces exactas.
            li 20 es múltiplo de 4 por que lo contiene 5 veces exactas.

      .row.mb-5
        .col-12
          p Para visualizar cuando un número es divisible entre otro sin necesidad de efectuar la división recurrimos a los #[strong criterios de divisibilidad.]

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Divisibilidad entre 2] 
              p Un número es divisible entre dos si es par.
              p #[strong Ejemplo]  
              p.mb-0  12,22,28,34,46,68 son divisibles entre 2.

      .hr-divider.my-5

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Divisibilidad entre 3] 
              p Un número es divisible entre tres si la suma de sus dígitos es múltiplo de 3.
              p #[strong Ejemplo]
              p.mb-0 117 es divisible entre 3 porque: 1+1+7 = 9 y 9 es múltiplo de 3. 

      .hr-divider.my-5

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Divisibilidad entre 4] 
              p Un número es divisible entre cuatro si sus dos últimos dígitos son 0 o un múltiplo de 4.
              p #[strong Ejemplo] 
              p.mb-0 156, los dos últimos dígitos son múltiplos de 4. El número 500 es múltiplo de 4.

      .hr-divider.my-5

      .row
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              p #[strong Divisibilidad entre 5] 
              p Un número es divisible entre cinco si termina en 0 o 5.
              p #[strong Ejemplo] 
              p.mb-0 8125 es divisible entre 5, el número 13200 también es divisible entre 5

    
      .row
        .col-12
          .line-title.mt-3#tema3_2
            h2 3.2 Números primos

      .row.mb-5
        .col-12
          p Un número es primo cuando solo se puede dividir por sí mismo y la unidad, a excepción del número “1” #[strong que no es primo.]
          p #[strong Ejemplo]
          p.mb-0 El conjunto de los números primos entre 1 y 100 son: &#123 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97 &#125

        .hr-divider.my-5

        .col-12.mb-3
          h3 Descomposición de un número en sus factores primos
        .col-12
          p Todo número natural no primo (compuesto) se puede expresar como la multiplicación de dos o más números primos llamados factores primos. 
          p Entonces, para descomponer un número compuesto en sus factores primos se siguen los siguientes pasos:
     
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt              
              p Se escribe el número a la izquierda de una raya vertical que hace las veces de una ventana que divide, a la derecha se colocan los números primos por los cuales dicho número es divisible y el cociente obtenido se coloca debajo del número compuesto.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt              
              p Con el cociente obtenido en el paso anterior, se procede igual hasta llegar a un cociente igual a 1.

        .col-12.mt-5.mb-3
          h3 Ejemplo
        
        .col-12
          p Descomponer en factores primos el número "24".
      
      .row.justify-content-center.align-items-center.my-5
        .col-12.col-lg-8.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_02.svg", alt="").img-fluid

        .col-12.mt-5
          p Observe que 24 no es número primo y los factores en los que está descompuesto si lo son: 2 y 3.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center
        .col-12.mb-5
          p Haz una pausa y realiza el siguiente ejercicio de práctica para comprobar tu aprendizaje:

        .col-12.col-lg-8.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_03.svg", alt="").img-fluid

    
      .row
        .col-12
          .line-title.mt-3#tema3_3
            h2 3.3 Máximo Común Divisor - MCD

      .row.d-flex.justify-content-center.mb-5
        .col-12
          p El máximo común divisor entre dos números a y b es el número más grande que divide a “a” y divide a “b”. Este concepto se expresa así:
        .jumbotron.my-4
          p.mb-0 #[strong M.C.D. (a, b) o MCD (a, b)]
    
      .row.d-flex.justify-content-center
        .col-12.mb-3
          h3 Ejemplo        
          p Calular el MCD (12 y 18).        
          p El número que se busca debe dividir a 12 y a 18, luego no puede ser mayor que 12, entonces:

        .col-12.col-lg-8.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/info_04.svg", alt="").img-fluid

        .col-12
          p Puesto que el máximo común divisor debe dividir a ambos números, las únicas posibilidades son: &#123 1, 2, 3,6 &#125. Como tiene que ser el más grande posible, el MCD es 6, entonces:
        .jumbotron.my-4
          p.mb-0 #[strong M.C.D (12,18) = 6]

      .hr-divider.my-5
      
      .row.d-flex.justify-content-center
        .col-12
          h3 MCD de más de dos números
        .col-12.mb-5
          p Los números se descomponen en sus factores primos hasta que ya no tengan un divisor primo en común, entonces los números primos obtenidos se multiplican y el producto es el resultado.         
          h3.mt-5 Ejemplo
          p Calcular el MCD (60,90,150).
        .col-12.col-md-7.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_3/info_05.svg", alt="").img-fluid
      .row.d-flex.justify-content-center      
        .jumbotron
          p.mb-0 #[strong M.C.D = 5*3*2 = 30] 
      
      .hr-divider.my-5

      .row.justify-content-center.align-items-center
        .col-12.mb-5
          p Haz una pausa y realiza el siguiente ejercicio de práctica para comprobar tu aprendizaje:
        .col-12.col-lg-8.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_06.svg", alt="").img-fluid

    
      .row
        .col-12
          .line-title.mt-3#tema3_4
            h2 3.4 Mínimo Común Múltiplo - m.c.m
      
      .row.d-flex.justify-content-center        
        .col-12.mb-5
          p El mínimo común múltiplo de dos o más números a y b es el número más pequeño que es múltiplo de a y múltiplo de b. Se expresa así:
        .jumbotron
          p.mb-0 #[strong m.c.m (a, b) o mcm (a, b)] 
        .col-12
          h3 Ejemplo
          p Calcular el m.c.m (4,6)
        .col-12.col-md-6.d-flex.justify-content-center.my-5
          img(src="assets/images/pages/tema_3/info_07.svg", alt="").img-fluid
        .col-12.mb-5
          p Observe que los números marcados en rojo son múltiplos comunes de ambos, entonces el m.c.m es el más pequeño, es decir 12.
        .jumbotron
          p.mb-0 #[strong m.c.m (4, 6) = 12] 

      .hr-divider.my-5

      .row.d-flex.justify-content-center
        .col-12
          h3 m.c.m de más de dos números
          p Los números se descomponen simultáneamente en sus factores primos hasta que los cocientes sean iguales a 1, si alguno de los números no es divisible por el factor dado, se baja y se continua hasta encontrar el factor primo que lo divida. 
          h3.mt-5 Ejemplo
          p calcular el m.c.m (25, 30, 150), tomado de Aguilar (2015).
        .col-12.col-md-6.d-flex.justify-content-center.my-5
            img(src="assets/images/pages/tema_3/info_08.svg", alt="").img-fluid

      .row.d-flex.justify-content-center
        .jumbotron
          p.mb-0 #[strong m.c.m = 2*3*5*5 = 150]
        .col-12
          p Obsérvese que cuando 25 no fue divisible por 3, se bajó y se continuó hasta que los cocientes se igualaron a 1.

      .hr-divider.my-5

      .row.justify-content-center.align-items-center
        .col-12.mb-5
          p Haz una pausa y realiza el siguiente ejercicio de práctica para comprobar tu aprendizaje:
        .col-12.col-lg-8.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_09.svg", alt="").img-fluid

    
      .row
        .col-12
          .line-title.mt-3#tema3_5
            h2 3.5 Problemas con M.C.D y m.c.m

      .row.mb-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span A
            .list__txt
              p Marina y Raúl almuerzan en el mismo restaurante, pero Marina asiste cada 20 días y Raúl cada 30 días, ¿cuándo volverán a encontrarse Marina y Raúl?.
              p #[strong Solución]
              p Ambos coinciden cuando asisten el mismo día, es decir cuando asisten un día que es múltiplo de 20 y múltiplo de 30 y el primer día que coinciden es el mínimo de los múltiplos comunes, por lo tanto, se debe calcular el mínimo común múltiplo o el m.c.m (20, 30)

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_10.svg", alt="").img-fluid
      .row.d-flex.justify-content-center.mb-5 
        .jumbotron.mb-5
          p.mb-0 #[strong m.c.m = 2*2*3*5 = 60]
        .col-12
          p.text-center El anterior resultado quiere decir que Marina y Raúl volverán a encontrarse dentro de 60 días.

      .hr-divider.mb-5

      .row.mb-5
        .col-12
          .list
            .list__item
              .list__item__bulletNumber
                span B
            .list__txt
              p Catalina tiene 12 chocolates para repartir entre sus amigos y Beatriz tiene 18, si desean repartir los chocolates de modo que todos tengan la misma cantidad y sea la mayor posible ¿Cuántos chocolates repartirán a cada persona? y ¿a cuantos amigos regalará cada uno de ellos?.
              p #[strong Solución]
              p Como la cantidad a repartir debe ser la máxima para cada persona se debe calcular el máximo común divisor de 12 y 18, es decir:

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center
          img(src="assets/images/pages/tema_3/info_11.svg", alt="").img-fluid
      .row.d-flex.justify-content-center.mb-5 
        .jumbotron.mb-5
          p.mb-0 #[strong M.C.D = 2*3 = 6]
        .col-12
          p El anterior resultado quiere decir que cada persona recibirá 6 chocolates. 
          p Como Catalina tiene 12 chocolates y dará 6 a cada persona, entonces los repartirá entre 2 personas; porque (12 / 6 = 2).
          p Como Beatriz tiene 18 chocolates y dará 6 a cada persona, entonces los repartirá entre 3 personas; porque (18 / 6 = 3).

      .hr-divider.mb-5

      .row.mb-5
        .col-12.mb-5
          h3 Consulta el recurso externo para ampliar el conocimiento 
          p Para aprender más criterios de divisibilidad, consulta las páginas 35 y 36 y resuelve el ejercicio 20 de la página 36 de Aguilar, A. (2015). Matemáticas simplificadas.
        .col-auto
          .media_link
            a(href="https://login.bdigital.sena.edu.co/login?url=http://www.ebooks7-24.com/?il=4829&pg=61", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Aguilar, A. (2015). Matemáticas simplificadas]
      
      .hr-divider.mb-5

      .row.mb-5
        .col-12.mb-5
          h3 Para aprender más 
          p En el siguiente enlace encontrarás unos problemas resueltos de M.C.D y M.C.M que te mostrarán la aplicabilidad de estos conceptos en la vida cotidiana: 
        .col-auto
          .media_link
            a(href="media/documentos/Recurso 2_ MCD_MCM.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Recurso: MCD y m.c.m]

      .hr-divider.mb-5

      .row.mb-5
        .col-12.mb-5
          h3 Para practicar
          p Resuelve los ejercicios que encuentras en el siguiente enlace:  
        .col-auto
          .media_link
            a(href="media/documentos/complementarios/Ejercicios_Practica_MCD_mcm.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Ejercicios de práctica de M.C.D y m.c.m]



        

        
        

        


  

          
