.container#tema_6

    .header-ecored
        h1 6. Números enteros

    .jumbotron.bg-white 
      .row.justify-content-center.align-items-center
        .col-12
          p Los números enteros son aquellos que expresan una cantidad con relación a su unidad y están representados por el conjunto de los números naturales y sus negativos, por ejemplo:     
        .col-auto
          .jumbotron.my-4
            p.mb-0 #[strong {…-6, -5, -4, -3, -2, -1, 0, 1, 2, 4, 5, 6…}.]
        .col-12
          p Lo anterior quiere decir que con los números enteros se pueden representar cantidades enteras positivas y cantidades enteras negativas y es por esto por lo que cuando sumamos o restamos números enteros, el resultado seguirá siendo un número entero.

     
      .row
        .col-12
          .line-title.mt-3#tema6_1
            h2 6.1 Operaciones con números enteros
      
      .row.align-items-center.mb-5
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Suma]        
        .col-12
          p De acuerdo con Ibáñez (2018); en esta operación los elementos reciben el nombre de sumandos y el resultado suma o adición. 
          p.mb-0 La suma o adición de números enteros se efectúa solo si los signos de los números son iguales.      
           
      .row
        .col-12
          h3 Ejemplos:
          p Realizar las siguientes operaciones 
      .row.justify-content-center.align-items-start
        .col-12.col-lg-4
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 8 + 4 = ?]
        .col-12.col-lg-8
          p En esta operación ambos sumandos tienen el mismo signo (+), por lo tanto, se suman sus valores absolutos y el signo del resultado es el mismo (+).
          p #[strong Respuesta: 8 + 4 = 12]
      p Realizar las siguientes operaciones     
      .row.align-items-start
        .col-12.col-lg-4
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong - 4 - 1 - 5 = ?]
        .col-12.col-lg-8
          p Los números tienen el mismo signo (−), por lo tanto, se suman sus valores absolutos y el signo del resultado es el mismo que el de los sumandos (−).
          p #[strong Respuesta: - 4 - 1 - 5 = -10]
          p Para sumar números de dos o más dígitos, los sumandos se ordenan en forma vertical para hacer coincidir las respectivas clases y se realiza la operación, columna por columna y de derecha a izquierda (Ibáñez, 2018).    
      p Realizar las siguientes operaciones
      .row.justify-content-center.align-items-start
        .col-12.col-lg-4
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 225 + 83 = ?]
        .col-12.col-lg-8
          p Los números se acomodan de manera vertical y se efectúa la operación:
          .row.justify-content-center.align-items-center
            .col-auto.px-5.border-right             
              p.text-right.mb-0 #[strong 225]
              p.text-right.mb-0 #[strong + 83]
              p.text-right.mb-0 #[strong -----]
              p.text-right.mb-0 #[strong 308]   
            .col
              p.ml-5 #[strong Por tanto, el resultado es 308]     
      p.mt-5 Realizar las siguientes operaciones
      .row.justify-content-center.align-items-start
        .col-12.col-lg-4
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong - 1500 - 2780 - 517 = ?]
        .col-12.col-lg-8
          p Los números se acomodan de manera vertical y se efectúa la operación:
          .row.justify-content-center.align-items-center
            .col-auto.px-5.border-right             
              p.text-right.mb-0 #[strong - 1500]
              p.text-right.mb-0 #[strong - 2780]
              p.text-right.mb-0 #[strong - 517]
              p.text-right.mb-0 #[strong ------]
              p.text-right.mb-0 #[strong - 4797]   
            .col
              p.mb-5.ml-5 #[strong Por tanto, el resultado es - 4797]         
      
      
      .hr-divider.my-5

      .row.align-items-center.mb-4
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Resta]        
        .col-12
          p Es la operación inversa de la suma o adición. Los elementos de una resta son el minuendo (+), sustraendo (−) y la diferencia (Ibáñez, 2018). 
      
      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema_6/info_01.png", alt="").img-fluid

      .row.mb-5
        .col-12
          p Cuando se restan 2 números enteros la diferencia lleva el signo del entero de mayor valor absoluto.
      
      .row
        .col-12
          h3 Ejemplos:
          p Calcular las siguientes operaciones

      .row.justify-content-center.align-items-center
        .col-12.col-lg-4
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 10 - 7 = ?]
        .col-12.col-lg-8          
          p #[strong Respuesta: 10 - 7 = 3]
      p Calcular las siguientes operaciones
      .row.justify-content-center.align-items-center
        .col-12.col-lg-4
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 5 - 9 = ?]
        .col-12.col-lg-8          
          p #[strong Respuesta: 5 - 9 = -4]
      p Calcular las siguientes operaciones
      .row.justify-content-center.align-items-start
        .col-12.col-lg-4
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 380 - 400 = ?]
        .col-12.col-lg-8
          p Los números se acomodan de manera vertical y se efectúa la operación:
          .row.justify-content-center.align-items-center
            .col-auto.px-5.border-right             
              p.text-right.mb-0 #[strong 380]
              p.text-right.mb-0 #[strong - 400]             
              p.text-right.mb-0 #[strong ------]
              p.text-right.mb-0 #[strong - 20]   
            .col
              p.mb-0.ml-5 #[strong Por tanto, el resultado es - 20] 

      .hr-divider.mb-5

      .row.align-items-center.mb-5
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Suma y resta con signos de agrupación]        
        .col-12
          p Al realizar sumas y restas de números enteros que tienen signos de agrupación, primero es necesario eliminar dichos signos. 
          p Si a un signo de agrupación lo precede un signo positivo, el número entero que encierra conserva su signo.  

      .row
        .col-12
          h3 Ejemplos:
          p Resuelva las siguientes operaciones
      .row.justify-content-center.align-items-start
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong (− 3) + (− 9) = ?]
        .col-12.col-lg-7        
          p #[strong Solución] 
          p Como ambos signos de agrupación están precedidos por signos positivos, entonces se suprimen y se realiza la operación para obtener el resultado:
          p #[strong (− 3) + (− 9) = − 3 − 9 = −12]
      p Resuelva las siguientes operaciones
      .row.justify-content-center.align-items-start
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong (+ 5) + (− 8) = ?]
        .col-12.col-lg-7        
          p #[strong Solución] 
          p Al estar precedidos por signos positivos, ambos enteros conservan su signo y se obtiene como resultado:
          p #[strong (+ 5) + (− 8) = 5 − 8 = − 3]
      p Resuelva las siguientes operaciones
      .row.justify-content-center.align-items-start
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong &#91 (− 8 + 6) − (− 3 − 2) &#93 + &#91 4 − (2 − 1) &#93 = ?]
        .col-12.col-lg-7        
          p #[strong Solución] 
          p Se efectúan las operaciones contenidas en los paréntesis:
          p #[strong &#91(− 8 + 6) − (− 3 − 2)&#93 + &#91 4 − (2 − 1)&#93 = &#91(− 2) − (− 5)&#93 + &#91 4 − (1)&#93]
          p Se eliminan los paréntesis y se realizan las operaciones que encierran los corchetes:
          p #[strong = &#91− 2 + 5 &#93 + &#91 4 − 1 &#93]
          p #[strong = &#91 3 &#93 + &#91 3 &#93]
          p #[strong = 6]  

      .hr-divider.mb-5

      .row.align-items-center.mb-5
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Multiplicación]        
        .col-12
          p La multiplicación es la representación de la suma de una misma cantidad varias veces. Una multiplicación se representa con los símbolos, “×” “⋅” o “()”.

      .row.mb-5
        .col-12
          h3 Ejemplos:

      .row.justify-content-center.align-items-start.mb-6
        .col-12.mb-4
          p La multiplicación de 5 × 4 es lo mismo que:
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center #[strong 5 × 4 = 4 + 4 + 4 + 4 + 4 = 20]
            p.text-center =
            p.text-center.mb-0 #[strong 4 × 5 = 5 + 5 + 5 + 5 = 20]
        .col-12.col-lg-7        
          p Los elementos de una multiplicación reciben el nombre de factores y el resultado producto o multiplicación. Así, en el ejemplo anterior, 5 y 4 son los factores y 20 es el producto.
          p Para evitar la realización de sumas, se utilizan las tablas de multiplicar. Al multiplicar números de varios dígitos, éstos se colocan en vertical y se realiza el procedimiento según los ejemplos que se muestran a continuación.

      .row.justify-content-center.align-items-start.mb-6        
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 318 × 5 = ?]            
        .col-12.col-lg-7        
          p #[strong Solución]
          p Se acomodan los factores y 5 multiplica de derecha a izquierda a cada uno de los dígitos del número 318     
          .row.justify-content-center.align-items-center
            .col-auto.px-5.border-right             
              p.text-right.mb-0 #[strong 318]
              p.text-right.mb-0 #[strong x 5]             
              p.text-right.mb-0 #[strong ------]
              p.text-right.mb-0 #[strong 1590]
            .col
              p.mb-0.ml-5 #[strong Por tanto, el resultado es 1590] 

      .row.justify-content-center.align-items-start.mb-6        
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 2120 × 24 = ?]            
        .col-12.col-lg-7        
          p #[strong Solución]
          p Primero se multiplica 4 x 2120     
          .row.mb-5
            .col-auto.px-5.border-right             
              p.text-right.mb-0 #[strong 2120]
              p.text-right.mb-0 #[strong x 24]             
              p.text-right.mb-0 #[strong ------]
              p.text-right.mb-0 #[strong 8480]
                          
          p Después se multiplica 2 x 2120, el resultado se desplaza hacia la izquierda un lugar y se coloca debajo del anterior:    
          .row.mb-5
            .col-auto.px-5.border-right             
              p.text-right.mb-0 #[strong 2120]
              p.text-right.mb-0 #[strong x 24]             
              p.text-right.mb-0 #[strong ------]
              p.text-right.mb-0 #[strong 8480]
              p.text-right.mb-0 #[strong 4240 &nbsp]
            
          p Luego se suman los dos resultados de las multiplicaciones y se obtiene:   
          .row.justify-content-center.align-items-center
            .col-auto.px-5.border-right             
              p.text-right.mb-0 #[strong 2120]
              p.text-right.mb-0 #[strong x 24]             
              p.text-right.mb-0 #[strong ------]
              p.text-right.mb-0 #[strong 8480]
              p.text-right.mb-0 #[strong + 4240 &nbsp]
              p.text-right.mb-0 #[strong ------]
              p.text-right.mb-0 #[strong 50880]
            .col
              p.mb-0.ml-5 #[strong El resultado de esta operación es 50880]

      .hr-divider.mb-5

      .row.align-items-center.mb-5
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Multiplicación con signos de agrupación]        
        .col-12
          p Los signos de agrupación que se utilizan son: paréntesis ( ), corchetes [ ] y llaves { }.    Para simplificar y obtener el resultado de una operación con signos de agrupación, se debe:
          ul 
            li.mb-3 Suprimir los signos de agrupación, multiplicando estos resultados por el número y signo que los anteceden.
            li.mb-3 Agrupar y sumar los números del mismo signo.
            

      .row.mb-5
        .col-12
          h3 Ejemplos:

      .row.justify-content-center.align-items-start.mb-6
        .col-12.mb-4
          p Basado en Aguilar (2015), calcular:
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 3(4 − 2) − 5(1 − 4) − (8 + 9) = ?]            
        .col-12.col-lg-7        
          p #[strong Solución]
          p Suprimir los signos de agrupación, multiplicando estos resultados por el número y signo que los anteceden:
          img(src="assets/images/pages/tema_6/info_011.svg", alt="").img-fluid

          p.mt-3 Agrupar y sumar los números del mismo signo
          p #[strong = 12 + 20 − 6 − 5 − 8 − 9]
          p #[strong = 32 − 28 = 4]
          p #[strong Por tanto, el resultado de la operación es 4.]

      
      .hr-divider.mb-5

      .row.mb-5.justify-content-center.align-items-center
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong División]        
        .col-12.mb-5
          p De acuerdo con Aguilar (2015) en la división:
          p Si a y b son números enteros, la división de a entre b, siendo b un número entero diferente de cero, consiste en encontrar a los números enteros p y r tales que:         
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_6/info_02.svg", alt="", style="width:100%").img-fluid  
        .col-12
          p Donde a recibe el nombre de dividendo, b el de divisor, p el de cociente y r residuo.

      .row.mb-5
        .col-12
          h3 Ejemplos:

      .row.justify-content-center.align-items-start.mb-6
        .col-12.mb-4
          p En la división de 22 entre 4, el cociente es 5 y el residuo, 2 ya que:
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 22 = 4(5) + 2]            
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_6/info_03.svg", alt="", style="width:100%").img-fluid    

      .row.justify-content-center.align-items-start.mb-6
        .col-12.mb-4
          p En la división de 36 entre 6, el cociente es 6 y el residuo es 0, ya que:
        .col-12.col-lg-5
          .jumbotron.mb-4
            p.text-center.mb-0 #[strong 36 = 6(6) + 0]            
        .col-12.col-lg-6.mb-5
          img(src="assets/images/pages/tema_6/info_04.svg", alt="", style="width:100%").img-fluid.mb-4  
          p.mb-4 Las divisiones se representan con los siguientes símbolos: 
          img(src="assets/images/pages/tema_6/info_05.svg", alt="", style="width:100%").img-fluid 
          p.text-center Con una caja divisora     
          p Por medio de dos puntos 36: 6
          p Con el signo ÷; 36 ÷ 6
          p Con una raya horizontal (fracción): 36/6

     
      .row
        .col-12
          .line-title.mt-3#tema6_2
            h2 6.2 Problemas con enteros

      .row.mb-5
        .col-12
          h3 Ejemplos:
          p Basados en Aguilar (2015)

        .col-12.mb-5
          p En el auditorio de un colegio se presenta una obra de teatro para profesores y estudiantes. En el colegio hay 28 profesores y 585 estudiantes, y el auditorio sólo tiene capacidad para 80 personas.
          p Determinar cuántas presentaciones de la obra de teatro se deben realizar para que todo el estudiantado y profesorado la presencien.

        .col-12
          h3 Solución
          p En total hay 28 + 585 = 613 personas; luego, se realiza una división entre el total de personas y la capacidad del auditorio para obtener el número de presentaciones.

      .row.justify-content-center.mb-5
        .col-12.col-lg-6
          img(src="assets/images/pages/tema_6/info_06.svg", alt="", style="width: 100%")

      .row.mb-5
        .col-12
          p Se observa que el cociente 7 representa al número de presentaciones con auditorio lleno, pero sobran 53, entonces se necesita una presentación más para que todos puedan asistir a la obra de teatro. 
          p Por lo tanto, se tienen que realizar 8 presentaciones. 

      .row.my-5   
          .col-auto   
          a(href="media/documentos/complementarios/Ejercicios_Practica_Operaciones_con_enteros.pdf", target="_blank") 
              .media_link            
                  .media_link__icon.icon--lg
                      img(src="assets/images/pages/medialink.svg", alt="")
                  .media_link__txt             
                      p #[strong Para aprender más]
                      
                      p Puedes practicar resolviendo los ejercicios.