.container#tema_4

    .header-ecored
        h1 5.	Porcentajes

    .jumbotron.bg-white          
      .row.justify-content-center.align-items-center
        .col-12.col-lg-10.d-flex.justify-content-center
          a(href="media/documentos/Porcentajes.pdf", target="_blank")
            img(src="assets/images/pages/tema_5/cover_01.png", alt="").img-fluid

      .row.my-5   
          .col-auto   
          a(href="media/documentos/Recurso_3_Porcentajes.pdf", target="_blank") 
              .media_link            
                  .media_link__icon.icon--lg
                      img(src="assets/images/pages/medialink.svg", alt="")
                  .media_link__txt             
                      p #[strong Para aprender m치s]
                     
                      p Observa atentamente unos problemas resueltos de porcentajes que te mostrar치n la aplicabilidad de estas magnitudes en la vida cotidiana.  

      .row
        .col-12.mb-5
          h3 Para practicar 
          hr.hr-orange
          p.mb-0 Resuelve los ejercicios de aplicaci칩n que encuentras en el siguiente enlace:    
        .col-auto
          .media_link
            a(href="media/documentos/complementarios/Ejercicios_Practica_Porcentajes.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Material complemetario.] Ejercicios pr치ctica porcentajes 