.container#tema_4

    .header-ecored
        h1 4. Fracciones

    .jumbotron.bg-white 
      .row
        .col-12
          p.mb-0 Se llama fracción a toda expresión a/b , donde a y b son números enteros y “a” se denomina numerador y “b” denominador y “a” puede ser menor o mayor que “b”, También “b” debe ser un número diferente de cero.     
    
           
      .row
        .col-12
          .line-title.mt-3#tema4_1
            h2 4.1 Representación de fracciones 
      .row.mb-5
        .col-12
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Fracción propia
              p.mb-5 Se llama fracción propia a la expresión a/b , donde #[strong “a es menor que (<) b”.]
              h3 Ejemplo
              p la fracción 2/5 , indica que la unidad se divide en 5 partes, de las cuales se toman 2. 
              p Gráficamente se representa como sigue:         
      
      .row.justify-content-center.align-items-center
        .col-12.col-lg-5.d-flex.justify-content-center
          img(src="assets/images/pages/tema_4/info_01.svg", alt="").img-fluid
      p.mt-3.text-center La parte de color rojo representa el numerador de la fracción. 
      .hr-divider.my-5

      .row
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Fracción impropia   
              p.mb-5 Se llama fracción impropia a la expresión a/b , donde “a es mayor o igual que (≥) b”.  
              h3 Ejemplo
              p La fracción 11/5, indica que la unidad se divide en 5 partes iguales de las cuales se deben tomar 11, pero esto no es posible, luego se deben tomar 3 unidades y se dividen en 5 partes iguales cada una y de ellas se deben tomar las 11 que se necesitan, gráficamente se representa así:            
      
      .row.justify-content-center.align-items-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/info_02.svg", alt="").img-fluid
        .col-12
          p.text-center Las partes de color rojo indican el valor del numerador.

      .hr-divider.mb-5

      .row
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Fracción mixta  
              p.mb-5 Se llama fracción mixta a la expresión n a/b , donde n es un número entero unido a la fracción.  
              h3 Ejemplo
              p La fracción 2 3/4 quiere decir: dos unidades divididas en 4 partes de las cuales se toman 11, pues al convertirlo en una fracción impropia se multiplica el entero por el denominador y se le suma el numerador. La cantidad resultante es el numerador de la fracción y el denominador es el mismo que tiene la fracción; es decir:          
      
      .row.justify-content-center.align-items-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/info_03.svg", alt="").img-fluid
        .col-12
          p.text-center Luego la anterior expresión en fracción impropia es 11/4 y gráficamente se expresa:

      .row.justify-content-center.align-items-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/info_04.svg", alt="").img-fluid
        .col-12.mb-5
          p.text-center Las partes de color rojo representan el numerador de la fracción impropia.
        .col-12
          p En la fracción mixta obsérvese que el entero “2” representa dos unidades completas de 4 partes y la fracción ¾, indica que de la última unidad se necesitan 3 de las 4 partes para completar las 11. 

      .hr-divider.mb-5

      .row
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Convertir una fracción impropia en una fracción mixta  
              p.mb-5 Para convertir una fracción impropia en una fracción mixta lo que se hace es dividir el numerador (dividendo) entre el denominador (divisor): el resultado (cociente) de la división se toma como el número entero, el resultado de la resta (residuo) como el numerador y el divisor como el denominador. 
              h3 Ejemplo
              p Convertir la fracción impropia 11/4 en una fracción mixta.
              p Entonces se realiza el proceso de división de 11 (dividendo) entre 4 (divisor), de esto se obtiene como resultado de la división 2 (cociente) y como resultado de la resta 3 (residuo) que se toma como numerador y 4 se toma como el denominador:    

      .row.justify-content-center.align-items-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/info_05.svg", alt="").img-fluid
        .col-12
          p.text-center Luego 11 / 4, se puede expresar como 2 3/4
          
           
      .row
        .col-12
          .line-title.mt-3#tema4_2
            h2 4.2 Fracciones equivalentes 

      .row
        .col-12.mb-5
          p Sean a/b y c/d dos fracciones equivalentes; si al escribirse de manera diferente, representan la misma cantidad y para averiguar si lo son, se multiplica el numerador de la primera por el denominador de la segunda y el resultado debe ser igual al resultado de multiplicar el denominador de la primera por el numerador de la segunda; es decir:

      .row.justify-content-center.align-items-center.mb-5
        .col-12.d-flex.justify-content-center.mb-5
          img(src="assets/images/pages/tema_4/info_06.svg", alt="").img-fluid

      .row
        .col-12
          h3 Ejemplo
          p.mb-5 Comprobar si 2/5 es equivalente a 10/25.   
          p Aplicando lo que significa dos fracciones equivalentes se tiene que:
        .jumbotron.mb-3.ml-3
          p.mb-0 #[strong (2 x 25) = 50 y 10 x 5 = 50]
        .col-12
          p luego:
        .jumbotron.mb-3.ml-3
          p.mb-0 #[strong 50 = 50]
        .col-12
          p Entonces las fracciones son equivalentes.

           
      .row
        .col-12
          .line-title.mt-3#tema4_3
            h2 4.3 Operaciones con fracciones 
      
      .row
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Suma y resta con igual denominador  
              p.mb-5 Para sumar o restar dos fracciones cuyo denominador es igual, se suman o restan los dos numeradores y se deja el mismo denominador.  
              h3 Ejemplo
              p.mb-0 Hallar el valor de la siguiente operación:
              .row
                .col-auto
                  .jumbotron.my-4
                    p.mb-0 #[strong 2/5 + 3/5 – 1/5]
              p Entonces se suman los numeradores con signo positivo y se resta el que tiene signo negativo: (2 + 3 -1) = 4, se deja el mismo denominador, luego el resultado de la operación es 4/5.

      .hr-divider.mb-5

      .row
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Suma y resta con diferente denominador    
              p Se busca el mínimo común múltiplo de los denominadores, también conocido como común denominador, éste se divide entre cada uno de los denominadores de las fracciones y los resultados se multiplican por su correspondiente numerador. Los números que resultan se suman o se restan para obtener el resultado final (Aguilar, 2015). 
              p.mb-5  Veamos los siguientes ejemplos que propone Aguilar (2015):
              h3 Ejemplo 1
              p.mb-0 Calcular:
              .row
                .col-auto
                  .jumbotron.my-4
                    p.mb-0 #[strong 3/2 + 1/3 + 2/6]
              h3 Solución
              .row
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span A
                    .list__txt
                      p Se halla el mínimo común múltiplo de los denominadores o el denominador común entre 2,3 y 6. Se hace el cálculo como se aprendió anteriormente y el resultado es 6.             
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span B
                    .list__txt
                      p El m.c.m hallado (6) se divide por cada uno de los denominadores y el resultado se multiplica por su respectivo numerador, posteriormente se suman los resultados de los productos.
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span C
                    .list__txt
                      p Se calcula entonces:
                      img(src="assets/images/pages/tema_4/f1.png", alt="").img-fluid
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span D
                    .list__txt
                      p Entonces el resultado de la operación es 13/6

              .hr-divider.mb-5

              h3 Ejemplo 2
              p.mb-0 Calcular:
              .row
                .col-auto
                  .jumbotron.my-4
                    p.mb-0 #[strong 1/2 - 1/5]
              h3 Solución
              .row
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span A
                    .list__txt
                      p El m.c.m o el común denominador de 2 y 5 es 10
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span B
                    .list__txt
                      p El m.c.m hallado (10) se divide por cada uno de los denominadores y el resultado se multiplica por su respectivo numerador, posteriormente se restan los resultados de los productos.
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span C
                    .list__txt
                      p Entonces se efectúan las operaciones:
                      img(src="assets/images/pages/tema_4/f2.png", alt="").img-fluid
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span D
                    .list__txt
                      p Entonces el resultado de la operación es 3/10               

              .hr-divider.mb-5

              h3 Ejemplo 3
              p.mb-0 Calcular:
              .row
                .col-auto
                  .jumbotron.my-4
                    p.mb-0 3 1/6 - 1 1/2 + 1/3
              h3 Solución
              .row
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span A
                    .list__txt
                      p Se convierten las fracciones mixtas a fracciones impropias por el método aprendido anteriormente, entonces las fracciones son:                     
                      p.mb-0 19/6 - 3/2 + 1/3             
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span B
                    .list__txt
                      p Se obtiene el mínimo común múltiplo de los denominadores (6,2,3) y se obtiene que el resultado es 6.
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span C
                    .list__txt
                      p El resultado se divide por cada denominador y se multiplica por su respectivo numerador obteniéndose:                      
                      img(src="assets/images/pages/tema_4/f3.png", alt="").img-fluid
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span D
                    .list__txt
                      p Entonces el resultado de la operación es 2

      .hr-divider.mb-5

      .row
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 Multiplicación de fracciones    
              p.mb-5 Para llevar a cabo esta operación se multiplican los numeradores y denominadores y si es posible se simplifica la fracción. Cuando las fracciones son tipo mixta lo primero que se hace es convertirlas a fracciones impropias.              
              h3 Ejemplo 1
              p.mb-0 Calcular:
              .row
                .col-auto
                  .jumbotron.my-4
                    p.mb-0 #[strong 4/5 x 1/6]
              p Son fracciones impropias, luego se puede realizar la operación directamente:
              img(src="assets/images/pages/tema_4/f4.png", alt="").img-fluid.mb-3      
              .hr-divider.mb-5
              h3 Ejemplo 2
              p.mb-0 Calcular:
              .row
                .col-auto
                  .jumbotron.my-4
                    p.mb-0 #[strong  2 3/4 x 4 1/5 ]
              p Lo primero que se debe hacer es convertir las expresiones a fracciones impropias, entonces queda:
              p #[strong  11/4 x 21/5 = (11 x 21)/(4 x 5) = 231/20] 

      .hr-divider.mb-5

      .row
        .col-12.mb-5
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 División de fracciones    
              p.mb-5 Aguilar (2015) define la división entre fracciones en dos pasos:
              .row
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span 1
                    .list__txt
                      p Se multiplica el numerador de la primera fracción por el denominador de la segunda fracción, el producto es el numerador de la fracción resultante.
                .col-12.mb-3
                  .list
                    .list__item
                      .list__item__bulletNumber
                        span 2
                    .list__txt
                      p Se multiplica el denominador de la primera fracción por el numerador de la segunda fracción, el producto es el denominador de la fracción resultante.
              p.mb-5 Entonces esta operación se realiza de la siguiente manera:
              .row.justify-content-center.align-items-center.mb-5
                .col-12.col-lg-5.d-flex.justify-content-center
                  img(src="assets/images/pages/tema_4/info_07.svg", alt="").img-fluid
              h3 Ejemplo 1
              p Calcular:
              img(src="assets/images/pages/tema_4/f5.png", alt="").img-fluid
              p
              img(src="assets/images/pages/tema_4/f6.png", alt="").img-fluid.mb-3            
              .hr-divider.mb-5
              h3 Ejemplo 2
              p.mb-0 Calcular:
              img(src="assets/images/pages/tema_4/f7.png", alt="").img-fluid.my-3
              p Lo primero que se debe hacer es convertir las expresiones a fracciones impropias, luego se tiene:
              img(src="assets/images/pages/tema_4/f8.png", alt="").img-fluid

           
      .row
        .col-12
          .line-title.mt-3#tema4_4
            h2 4.4 Problemas con Fracciones 
      
      .row.mb-5
        .col-12.mb-5         
          p.mb-0 Observa el siguiente video para aprender un poco más sobre cómo resolver situaciones de la vida diaria con operaciones con fracciones.   
        .col-auto
          .media_link
            a(href="https://youtu.be/Wp9SABu3RRo", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Material complemetarios.] Problema resuelto con división de fracciones

      .hr-divider.mb-5      

      .row.mb-5
        .col-12.mb-5
          h3 Para practicar
          p.mb-0 Resuelve los ejercicios que encuentras en el siguiente enlace:  
        .col-auto
          .media_link
            a(href="media/documentos/complementarios/Ejercicios_Practica_Operaciones_con_fracciones.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Ejercicios de práctica: operaciones con fracciones ]
      
      .hr-divider.mb-5

      .row
        .col-12.mb-5
          h3 Consulta el recurso externo para ampliar el conocimiento 
          p.mb-0 Te invitamos a consultar otros problemas de aplicación en el siguiente enlace:   
        .col-auto
          .media_link
            a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829&pg=89", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_www.svg", alt="")
              .media_link__txt
                p #[strong Material complementario.]  Problemas de aplicación 

        
        
        