.container#tema_7

    .header-ecored
        h1 7. Sistema de medidas

    .jumbotron.bg-white  
      .row.mb-5
        .col-12
          .line-title.mt-3#tema7_1
            h2 7.1 Sistemas de medidas más utilizados    
        .col-12
          p Los sistemas de medidas son los que permiten medir una magnitud y están definidos por unidades.        

      .row 
        .col-12.mb-5
          h3.text-center Clases de medidas más usadas

      .row.justify-content-center.align-items-center.mb-5
        .col-6.col-md-2.d-flex.flex-column
          img(src="assets/images/pages/tema_7/icon_01.svg", alt="").img-fluid.my-auto
          p.text-center Longitud
        .col-6.col-md-2.d-flex.flex-column
          img(src="assets/images/pages/tema_7/icon_02.svg", alt="").img-fluid.my-auto
          p.text-center Superficie
        .col-6.col-md-2.d-flex.flex-column
          img(src="assets/images/pages/tema_7/icon_03.svg", alt="").img-fluid.my-auto
          p.text-center Volumen
        .col-6.col-md-2.d-flex.flex-column
          img(src="assets/images/pages/tema_7/icon_04.svg", alt="").img-fluid.my-auto
          p.text-center Masa
        .col-6.col-md-2.d-flex.flex-column
          img(src="assets/images/pages/tema_7/icon_05.svg", alt="").img-fluid.my-auto
          p.text-center Tiempo
        .col-6.col-md-2.d-flex.flex-column
          img(src="assets/images/pages/tema_7/icon_06.svg", alt="").img-fluid.my-auto
          p.text-center Ángulos

      .hr-divider.mb-5

      .row.align-items-center.mb-4
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Unidades de longitud]   

      .row
        .col-12
          h3 Sistema métrico decimal

        .col-12.mb-5
          p De acuerdo con Aguilar (2015), el sistema métrico decimal es el conjunto de medidas que se derivan de la longitud denominada metro.
          p.mb-5 La unidad de longitud es el metro y se representa con la letra #[strong m]. 
          p Los múltiplos del metro se forman anteponiendo a la palabra metro los prefijos:
          ul 
            li Deca (D) = diez
            li Hecto (H) = cien
            li Kilo (k) = mil

        .col-12
          p Los submúltiplos se forman anteponiendo los prefijos: 
          ul
            li Deci (d) = décima
            li Centi (c) = centésima
            li mili (m) = milésima
      p.mt-5 Equivalencias de longitud en el sistema métrico decimal
      .row.justify-content-center.align-items-center.mb-5.mb-lg-6 
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_01.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          h3 Ejemplo
        .col-12
          p Convertir 2.3 kilómetros a metros.

      .row
        .col-12
          h3 Solución
        .col-12
          p Se emplea la equivalencia correspondiente y se efectúa la conversión
          p Equivalencia: 1 km = 10#[sup 3] m
      
      .row.justify-content-center.align-items-center.my-5.my-lg-6 
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_02.svg", alt="").img-fluid
      p Observe que el planteamiento inicial corresponde a una regla de tres simple directa utilizando la equivalencia correspondiente. 
      .hr-divider.my-5

      .row.align-items-center.mb-4
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Unidades de Superficie]  

      .row.mb-5
        .col-12.mb-5
          p La unidad de superficie es el metro cuadrado, que es un cuadrado que tiene de lado un metro lineal y se representa con m#[sup 2].
        .col-12
          h3 Equivalencias de superficie en el sistema métrico decimal

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_03.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          h3 Ejemplo
          p Convertir 63000 m#[sup 2] a km#[sup 2].
          h3.mt-5 Solución
          p Se emplea la equivalencia correspondiente y se efectúa la conversión.
          p Equivalencia: 1 km#[sup 2] = 10#[sup 6] m#[sup 2]

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_04.svg", alt="").img-fluid
      
      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_05.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          p Obsérvese que al igual que el planteamiento inicial del problema anterior, este también corresponde a una regla de tres simple directa utilizando la equivalencia correspondiente.
        
      .hr-divider.mb-5

      .row.align-items-center.mb-4
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Unidades de Volumen] 

      .row.mb-5
        .col-12
          p Las unidades de volumen son el metro cúbico, que es un cubo que tiene de arista un metro lineal y se representa con m3 y el litro cuya representación es (l).
        .col-12.mb-5
          h3 Equivalencias de volumen en el sistema métrico decimal

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_06.svg", alt="").img-fluid
      
      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_07.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          h3 Ejemplo
          p Convertir 0,00616 Hm#[sup 3] a m#[sup 3].
          h3.mt-5 Solución
          p Se emplea la equivalencia correspondiente y se efectúa la conversión.
          p Equivalencia: 10#[sup 3] Hm#[sup 3] = 10#[sup 9] m#[sup 3]

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_08.svg", alt="").img-fluid
      
      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_09.svg", alt="").img-fluid

      .row
        .col-12
          p Igual que en los ejemplos anteriores se inicia planteando una regla de tres simple directa para realizar la conversión.

      .hr-divider.mb-5

      .row.align-items-center.mb-4
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Unidades de masa] 

      .row.mb-5
        .col-12
          p En el sistema internacional de unidades el kilogramo (kg) es el patrón de medida para las unidades de masa.
        .col-12.mb-5
          h3 Equivalencias de masa en el sistema métrico decimal

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_10.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          h3 Ejemplo
          p Convertir 1300 cg a Dg.
          h3.mt-5 Solución
          p Se emplea la equivalencia correspondiente y se efectúa la conversión.
          p Equivalencia: 10#[sup 2] Dg = 10#[sup 5]cg

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_11.svg", alt="").img-fluid

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_12.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          P También aquí se aplica la regla de tres simple como planteamiento inicial para resolver la equivalencia.

      .hr-divider.mb-5

      .row.align-items-center.mb-4
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Unidades de tiempo] 

      .row.mb-5        
        .col-12.mb-5
          h3 Equivalencias de masa en el sistema métrico decimal

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_13.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          h3 Ejemplo
          p Convertir 5 horas a minutos.
          h3.mt-5 Solución
          p Se emplea la equivalencia correspondiente y se efectúa la conversión.
          p Equivalencia: 1 h = 60 min

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_14.svg", alt="").img-fluid

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-10.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_15.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          p También aquí se aplica la regla de tres simple como planteamiento inicial para resolver la equivalencia.

      .hr-divider.mb-5

      .row.align-items-center.mb-4
        .col-12.mb-4
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_duoble_chevron.svg", alt="")
            .list__txt
              h3 #[strong Unidades angulares] 

      .row.mb-5        
        .col-12.mb-5
          p Equivalencias de medidas angulares 

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_16.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          h3 Ejemplo
          p Convertir 5° a minutos 
          h3.mt-5 Solución
          p Se emplea la equivalencia correspondiente y se efectúa la conversión.
          p Equivalencia: 1 ° = 60 min

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_17.svg", alt="").img-fluid
      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_18.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          p Como en los ejercicios anteriores el planteamiento debe partir de una regla de tres simple directa.

     
      .row.mb-5
        .col-12
          .line-title.mt-3#tema7_2
            h2 7.2 Problemas con Unidades de Medida   
        .col-12
          h3 Ejemplo
          p El área de una cancha de futbol es 50 Km#[sup 2], pero es necesario indicar esta medida en m#[sup 2] , entonces ¿cuál es el área de la cancha?.

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/img_01.svg", alt="").img-fluid

      .row.mb-5
        .col-12          
          h3 Solución
          p Se emplea la equivalencia correspondiente y se efectúa la conversión.
          p Equivalencia: 1 km#[sup 2] = 10#[sup 6] m#[sup 2].

      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_19.svg", alt="").img-fluid
      .row.justify-content-center.align-items-center.mb-5
        .col-12.col-lg-7.d-flex.justify-content-center         
          img(src="assets/images/pages/tema_7/info_20.svg", alt="").img-fluid

      .row.mb-5
        .col-12
          p Luego el área de la cancha es 5000000 m#[super 2].

      .hr-divider.mb-5

      .row.mb-5
        .col-12.mb-3
          h3 Para practicar  
          p Resuelve los ejercicios de la página 194 a la 197 de Aguilar (2015):   
        .col-auto
          .media_link
            a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829&pg=220", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Anexo.] Problemas con unidades de medidas - Aguilar (2015)
      .hr-divider.mb-5
      .row.my-5   
          .col-auto   
          a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=4829&pg=226", target="_blank") 
              .media_link            
                  .media_link__icon.icon--lg
                      img(src="assets/images/pages/medialink.svg", alt="")
                  .media_link__txt             
                      p #[strong Consulta el recurso externo para ampliar el conocimiento]
                      
                      p Puedes profundizar en las unidades de tiempo y las angulares con: Aguilar, A. (2015). Matemáticas simplificadas. (4a. ed.). Pp. 200-203. 