.container#tema_1

    .header-ecored
        h1 1. Razones y proporciones

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_1
            h2 1.1 Razón  

      .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xiehHcxf7KE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                
    
    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_2
            h2 1.2 Proporción 

      .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/CG-BWQZy900', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')              

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_3
            h2 1.3 Razón de proporcionalidad 

      .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/iVP-mVNq4NQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                 

      .row.mb-5.mt-5
        .col-12
          h3 Propiedades de las proporciones

      .row.mt-5
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 1                
            .list__txt
              p.mb-0 El producto de los extremos es igual al producto de los medios:

      .row.justify-content-center.align-items-center.my-5.my-lg-6  
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_08.svg", alt="").img-fluid

      .row.mt-5
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 2               
            .list__txt
              p.mb-0 Media proporcional o media geométrica: raíz cuadrada del producto de los extremos igual a la raíz cuadrada del producto de los medios:

      .row.justify-content-center.align-items-center.my-5.my-lg-6  
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_09.svg", alt="").img-fluid

      .row.mt-5
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 3              
            .list__txt
              p.mb-0 Cuarta proporcional: es uno de los términos de una proporción el cuál es desconocido y se halla multiplicando los medios o los extremos y dividendo por el opuesto:

      .row.justify-content-center.align-items-center.my-5.my-lg-6  
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_10.svg", alt="").img-fluid

      .row.mt-5
        .col-12.mb-3
          .list
            .list__item
              .list__item__bulletNumber
                span 4             
            .list__txt
              p.mb-0 Tercera proporcional: es uno de los términos de una proporción el cuál es desconocido, los extremos son iguales y se halla elevándolos al cuadrado y dividiendo por el término desigual:

      .row.justify-content-center.align-items-center.my-5.my-lg-6  
        .col-12.d-flex.justify-content-center
          img(src="assets/images/pages/tema_1/info_11.svg", alt="").img-fluid


    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_4
            h2 1.4 Regla de tres simple 

      .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/CbT_0Z42TSs', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')     

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_5
            h2 1.5 Regla de tres compuesta   
      .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NRjLgU964v4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')  

    .jumbotron.bg-white 
      .row
        .col-12
          .header-ecored.mt-3#tema1_6
            h2 1.6.	Problemas con Proporciones

      .row
        .col-12
          p En el siguiente enlace encontrarás como ejemplos de aplicación unos problemas resueltos de proporciones que te mostrarán la aplicabilidad de estas magnitudes en la vida cotidiana.

      .row.justify-content-center.align-items-center.my-5.my-lg-6 
        .col-12.col-lg-10.d-flex.justify-content-center
          a(href="media/documentos/Razones_Proporciones.pdf", target="_blank")
            img(src="assets/images/pages/tema_1/cover_01.png", alt="").img-fluid