.container#tema_4

    .header-ecored
        h1 5.	Porcentajes

    .jumbotron.bg-white          
      .row.justify-content-center.align-items-center.my-5.my-lg-6 
        .col-12.col-lg-10.d-flex.justify-content-center
          a(href="media/documentos/Porcentajes.pdf", target="_blank")
            img(src="assets/images/pages/tema_5/cover_01.png", alt="").img-fluid

      .row.mb-5
        .col-12.mb-5
          h3 Para aprender m치s
          p.mb-0 Observa atentamente unos problemas resueltos de porcentajes que te mostrar치n la aplicabilidad de estas magnitudes en la vida cotidiana.  
        .col-auto
          .media_link
            a(href="media/documentos/Recurso_3_Porcentajes.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Porcentajes ]

      .hr-divider.mb-5

      .row
        .col-12.mb-5
          h3 Para practicar 
          p.mb-0 Resuelve los ejercicios de aplicaci칩n que encuentras en el siguiente enlace:    
        .col-auto
          .media_link
            a(href="media/documentos/complementarios/Ejercicios_Practica_Porcentajes.pdf", target="_blank")
              .media_link__icon
                img(src="assets/images/icons/icon_pdf.svg", alt="")
              .media_link__txt
                p #[strong Ejercicios pr치ctica porcentajes ]