.container#tema_2

    .header-ecored
        h1 2. Estructuras aditiva y multiplicativa 

    .jumbotron.bg-white          
      .row.justify-content-center.align-items-center
        .col-12.col-lg-10.d-flex.justify-content-center
          a(href="media/documentos/Estructura_Aditiva_Multiplicativa.pdf", target="_blank")
            img(src="assets/images/pages/tema_2/cover_01.png", alt="").img-fluid